@charset "UTF-8";


footer {
	background-color: hotpink;
}

header {
	text-align: center;
	border-bottom: dotted 50px #FFC86D;
}

main,
h2 {
	text-align: center;
}


.prof img {
	width: 10%;
	height: 150px;
	border: 10px;
	border-radius: 150px;
}
ul{
	overflow: 0;
}

.link {
	list-style-type: none;
	width: 20%;
	text-align: center;
	float: left;
	padding-bottom: 0%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.profile {
	text-align: left;
}

.main1 {
	list-style-type: none;
	width: 33%;
	width: 280px;
	margin-right: auto;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;

}

.main2 {
	list-style-type: none;
	width: 33%;
	width: 280px;
	margin-right: auto;
	float: left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: 5%;
	padding-right: 10%;
}

.profile,
.koukou,
.in,
.syougaku {
	background-color: #DDD8FF;
	text-align: center;
	width: 100%;
	padding: 0;
	border-radius: 20px;
}

.hobbies,
.tyugaku,
.daigaku,
.genzai,
.tanzyo {
	background-color: #F4EFD2;
	text-align: center;
	width: 100%;
	padding: 0;
	border-radius: 20px;
}

.hometown {
	background-color: #F4EFD2;
	text-align: center;
	width: 100%;
	padding: 100;
	border-radius: 20px;
}

.student {
	background-color: #DDD8FF;
	text-align: center;
	width: 100%;
	padding: 0;
	border-radius: 20px;
}

.lik a {
	list-style-type: none;
	width: 20%;
	text-align: center;
	float: left;
	padding-bottom: 0%;
	background-color: #FFC2EA;
}

.prof {
	list-style-type: none;
	float: left;
	text-align: center;
	background-color: #FFDFD3;
	width: 100%;
	padding: 0;
}

.zibunsi {
	list-style-type: none;
	text-align: center;
	padding-left: 20%;
	padding-right: 30%;
}

li.kyozin {
	list-style-type: none;
	text-align: center;
}

li.sakamoto {
	list-style-type: none;
	width: 50%;
	text-align: center;
	float: left;
}

li.masuda {
	list-style-type: none;
	width: 40%;
	text-align: center;
	float: right;

}

.ouen {
	background-color: #EDE8DD;
}

li.sakamoto,
li.masuda {
	border: solid 10px cornsilk;
}

/*　画像拡大＋回転　*/

.icon img {
	transform: scale(1);
	transition: .3s ease-in-out;
	/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.icon a:hover img {
	/*hoverした時の変化*/
	transform: rotate(5deg) scale(1.2);
	/*拡大、回転の値を変更したい場合はこの数値を変更*/
}


/*　画像のマスク　*/

.mask {
	display: block;
	line-height: 0;
	/*行の高さを0にする*/
	overflow: hidden;
	/*拡大してはみ出る要素を隠す*/
}


/*========= レイアウトのためのCSS ===============*/

a {
	color: #333;
	text-decoration: none;
}

.lead {
	text-align: center;
	padding: 50px 20px;
}

/*画像のレスポンシブ*/

img {
	width: 100%;
	height: auto;
}

/*　横幅　*/

.icon {
	width: 70%;
	margin: 0 auto;
	/*中央揃え*/
}

.sakamoto img,
.kyozin img {
	width: 50%;

}

.masuda img {
	width: 70%
}

li.link a {
	background-color: #FFC2EA;
	width: 50%;
	padding: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

li a :hover {
	color: black;
}